<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="gmailUsername" value="${trim-whitespace:${file-contents:${basedir}/gmailusername.txt}}" />
  <variable name="gmailPassword" value="${trim-whitespace:${file-contents:${basedir}/gmailpassword.txt}}" />

  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Extended" />
  </extensions>

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log">
      <layout xsi:type="CSVLayout" delimiter="Tab">
        <column name="date" layout="${longdate}" />
        <column name="level" layout="${level:uppercase=true}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>

    <target name="logconsole" xsi:type="ColoredConsole"  layout="${longdate} ${callsite} ${level} ${message}">
      <layout xsi:type="CSVLayout" delimiter="Tab">
        <column name="date" layout="${longdate}" />
        <column name="level" layout="${level:uppercase=true}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>

  </targets>

  <rules>
    <!-- <logger name="*" minlevel="Info" writeTo="logconsole" /> -->
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>